body {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: flex-start;
}

#side-column {
  font-size: 0.9em;
  background-color: white;
  min-width: 12em;
  max-height: 80vh;
  padding: 20px;
  margin-right: 10px;
  overflow-y: auto;
}

#main-column {
  background-color: white;
  padding: 20px;
  flex-grow: 1;
}

.hidden {
  display: none;
}

#hamburger-btn {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 0.5em;
}

#header {
  font-family: sans-serif;
  font-size: 2rem;
  margin: 0.5em;
}

.floating {
  position: absolute;
  left: 10px;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
